<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/style.css?16s5"/>
<script type="text/javascript" src="//www.bravecompany.net/js/jquery.min.js"></script>


<div style="max-width:1100px;margin:auto;">






<div style="width:850px;margin-top:50px;float:right;">      <form name="login" method="post" action="/login.php">
			<table width="300" border="0" cellspacing="1" cellpadding="5" align="center" style="margin:100px auto">
			  <tr>
			    <th width="100" scope="row">아이디</th>
			    <td width="177"><input name="rsync_id" type="text" size="20" maxlength="20"  value=""/></td>
			  </tr>
			  <tr>
			    <th scope="row">패스워드</th>
			    <td><input name="rsync_pwd" type="password" size="20" maxlength="20" value=""/></td>
			  </tr>
			  <tr>
			    <th scope="row">인증키 </th>
			    <td><input name="rsync_auth" type="password" size="20" maxlength="20" value=""/></td>
			  </tr>
			  <tr>
			    <th colspan="2" scope="row"><input name="login" type="submit" value="Login" />&nbsp;</th>
			  </tr>
			</table>
			</form>

</div>


</div>

